<h3>Pago pendiente de aprobación</h3>
<p>Los datos recibidos por Mercado Pado son:</p>
<ol type="I">
    <li><strong>Payment_method_id:{{payment_type}}</strong></li>
    <li><strong>external_reference:{{external_reference}}</strong>/li>
    <li><strong>payment_id:{{payment_id}}</strong></li>
</ol>