<h3>Compra realizada exitosamente</h3>
<p>Los datos recibidos por Mercado Pado son:</p>
<ol type="I">
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ol>
<strong>Payment_method_id:{{payment_type}}</strong>
<strong>external_reference:{{external_reference}}</strong>
<strong>payment_id:{{payment_id}}</strong>